.experience {
  max-width: 900px;
  margin: auto;
}

.toggle-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp-card {
  background: #ffffff;
  padding: 30px;
  margin-top: 20px;
  border-radius: 18px;
  border: 1px solid #e2e8f0;
  animation: drop 0.4s ease;
}

.exp-card h3 {
  color: #2563eb;
}

.exp-card p {
  color: #475569;
}

.exp-card li {
  color: #64748b;
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 600px) {
  .exp-card {
    padding: 20px;
  }
}