.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10%;
}

.navbar h2 {
  color: #2563eb;
  font-weight: 700;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  color: #020617;
  font-weight: 500;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #2563eb;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
    border-bottom: 1px solid #e2e8f0;
  }

  .nav-links.open {
    display: flex;
  }
}
    .nav-links li {
        margin: 10px 0;
    }
