.skills {
  max-width: 1000px;
  margin: auto;
}

.skill-group {
  margin-bottom: 35px;
}

.skill-group h3 {
  color: #2563eb;
  margin-bottom: 12px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.skill-list span {
  background: #ffffff;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 0.9rem;
  border: 1px solid #e2e8f0;
  transition: all 0.3s ease;
}

.skill-list span:hover {
  background: #2563eb;
  color: white;
  transform: translateY(-3px);
}
@media (max-width: 600px) {
  .skill-list {
    justify-content: center;
  }
}